.about__mission {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 200px;
}

.about__missionImg {
  flex: 0.5;
  height: 400px;
  margin-right: 10px;
}

.about__missionImg > img {
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.about__missionText {
  flex: 0.5;
}

span {
  color: var(--lend-color);
}

.about__missionText > h1 {
  font-weight: bold;
}

.about__story {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 200px;
}

.about__storyImg {
  flex: 0.5;
  height: 400px;
  margin-right: 10px;
}

.about__storyImg > img {
  height: auto;
  width: 100%;
  border-radius: 30%;
}

.about__storyText {
  flex: 0.5;
  margin-top: 240px !important;
}

.about__storyText > h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
.about__storyText > h3 {
  font-size: 22px;
  margin-top: 30px;
}
.about__solution {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 200px;
}

.about__solutionText {
  flex: 0.5;
}
.about__solutionText > h1 {
  font-weight: bold;
}

.about__solutionImg {
  flex: 0.5;
  height: 700px;
  margin-right: 10px;
}

.about__solutionImg > img {
  height: auto;
  width: 100%;
  border-radius: 50%;
  margin-bottom: auto;
}

/* media queries */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .about__mission {
    display: block;
    margin-bottom: 0;
  }

  .about__missionImg {
    width: 100%;
  }

  .about__story {
    display: block;
  }
  .about__storyImg {
    padding: 5px;
  }

  .about__storyText > h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .about__solution {
    display: block;
  }
  .about__solutionImg {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .about__mission {
    display: block;
    margin-bottom: 0;
  }

  .about__missionImg {
    width: 100%;
  }

  .about__story {
    display: block;
  }
  .about__storyImg {
    padding: 5px;
  }

  .about__storyText > h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .about__solution {
    display: block;
  }
  .about__solutionImg {
    width: 100%;
    height: auto;
  }
}

/* iPad 1, 2, Mini and Air */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about__mission {
    display: block;
    margin-bottom: 20px;
  }

  .about__missionImg {
    width: 100%;
    height: auto;
  }

  .about__story {
    display: block;
  }
  .about__storyImg {
    width: 100%;
    height: auto;
  }

  .about__storyText > h1 {
  }

  .about__solution {
    display: block;
  }
  .about__solutionImg {
    width: 100%;
    height: auto;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .about__mission {
    display: block;
    margin-bottom: 20px;
  }

  .about__missionImg {
    width: 100%;
    height: auto;
  }

  .about__story {
    display: block;
  }
  .about__storyImg {
    width: 100%;
    height: auto;
  }

  .about__storyText > h1 {
  }

  .about__solution {
    display: block;
  }
  .about__solutionImg {
    width: 100%;
    height: auto;
  }
}
