.footer {
  height: 100px;
  margin-top: 200px;
  /* background-color: var(--lend-color); */
  background-color: rgb(52, 58, 64);
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.footer__copyright {
  margin-left: 10px;
}
.footer__copyright > small {
  color: white;
}

.footer__icons {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
}
.MuiSvgIcon-root {
  color: white !important;
}
