@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

#friend {
  color: rgb(39, 168, 69);
}

#tm {
  color: gray;
  font-weight: normal !important;
}

small {
  color: lightgray;
}
.home {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
}

.home__banner {
  height: 700px !important;
  width: 650px;
  margin-left: 20px;
  flex: 0.65;
}

.home__bannerImg {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.home__slogan {
  margin-right: 20px;
  margin-left: 150px;
  width: 500px;
  flex: 0.35;
}

.home__slogan > h1 {
  text-align: left;
  font-weight: bold;
}

.home__slogan > p {
}

.home__join {
  width: 80%;
}

.home__appLinks {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.btn-dark {
  width: 100%;
  transition: transform 450ms;
}

.btn-dark:hover {
  transform: scale(1.08) !important;
  border: 3px solid white;
}

#google {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/* media queries */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .home {
    display: block;
  }

  .home__banner {
    display: block;
    padding: 10px;
  }

  .home__bannerImg {
    width: 100%;
    height: auto;
  }

  .home__slogan {
    margin: block;
    padding: 10px;
    width: 100%;
  }

  .home__join {
    display: block;
    width: 100%;
  }

  .home__appLinks {
    width: 100%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .home {
    display: block;
    padding: 5px;
  }

  .home__banner {
    display: block;
    width: 100%;
    margin-left: inherit;
    padding: 10px;
    height: 300px !important;
    margin-bottom: 20px;
  }

  .home__bannerImg {
    width: 100%;
    height: auto;
  }

  .home__slogan {
    margin: initial;
    padding: 10px;
    width: 100%;
  }

  .home__join {
    width: 100%;
  }

  .home__appLinks {
    width: 100%;
  }
}

/* iPad 1, 2, Mini and Air */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .home {
    display: block;
    padding: 5px;
  }

  .home__banner {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 10px;
    height: auto;
  }

  .home__bannerImg {
    width: 100%;
    height: auto;
  }

  .home__slogan {
    margin: initial;
    padding: 10px;
    width: 100%;
  }

  .home__join {
    width: 100%;
  }

  .home__appLinks {
    width: 100%;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}
