.team__founding {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 200px;
}

.team__foundingText {
  flex: 0.5;
  margin-bottom: 10px;
}

.team__foundingText > h1 {
  font-weight: bold;
}

.team__foundingImg {
  flex: 0.5;
  height: 350px;
  margin-right: 10px;
}

.team__foundingImg > img {
  height: auto;
  width: 100%;
  border-radius: 30%;
}

.team__rosterText {
  margin-top: 300px;
  margin-bottom: 100px;
  text-align: center;
}

.team__rosterText > h1 {
  font-weight: bold;
  margin-left: 10px;
}
.team__rosterText > p {
  margin-left: 10px;
}

.team__roster {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 400px;
  height: 400px;
}

.team__rosterPerson > img {
  width: 210px;
  height: 100%;
  display: block;
}

.team__rosterPerson > p {
  background-color: var(--lend-color);
  color: white;
  height: 100px;
  padding: 10px;
  width: 210px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  margin-top: 1px;
  font-size: medium;
}

.team__title {
  display: none;
}

.team__rosterPerson > img:hover {
  background-color: palegoldenrod;
  border-radius: 55% 75% 40% 60%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
}

.team__rosterPerson > img:hover + .team__title {
  display: inherit;
}

/* media queries */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .team__founding {
    display: block;
    margin-bottom: 10px;
    height: auto;
  }
  .team__roster {
    display: block;
    margin-bottom: 400px !important;
    height: 400px;
  }
  .team__rosterPerson > img {
    width: 50%;
    height: auto;
    display: block;
    /* padding: 10px; */
    margin-right: auto;
    margin-left: auto;
  }

  .team__rosterText {
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
  }

  .team__rosterPerson > p {
    background-color: var(--lend-color);
    color: white;
    height: 100px;
    padding: 10px;
    width: 210px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin-top: 1px;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .team__founding {
    display: block;
    margin-bottom: 10px;
    height: auto;
  }
  .team__roster {
    display: block;
    margin-bottom: 400px !important;
    height: 400px;
  }
  .team__rosterPerson > img {
    width: 50%;
    height: auto;
    display: block;
    /* padding: 10px; */
    margin-right: auto;
    margin-left: auto;
  }

  .team__rosterText {
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
  }

  .team__rosterPerson > p {
    background-color: var(--lend-color);
    color: white;
    height: 100px;
    padding: 10px;
    width: 210px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin-top: 1px;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
  }
}

/* iPad 1, 2, Mini and Air */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .team__founding {
    display: flex;
    margin-bottom: 100px;
    height: auto;
  }
  .team__roster {
    display: block;
    margin-bottom: 400px !important;
    height: auto;
    width: 100%;
  }
  .team__rosterPerson > img {
    width: 210px;
    height: auto;
    display: block;
    /* padding: 10px; */
    margin-right: auto;
    margin-left: auto;
  }

  .team__rosterText {
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
  }

  .team__rosterPerson > p {
    background-color: var(--lend-color);
    color: white;
    height: 100px;
    padding: 10px;
    width: 210px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin-top: 1px;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .team__founding {
    display: flex;
    margin-bottom: 100px;
    height: auto;
  }
  .team__roster {
    display: block;
    margin-bottom: 400px !important;
    height: auto;
    width: 100%;
  }
  .team__rosterPerson > img {
    width: 210px;
    height: auto;
    display: block;
    /* padding: 10px; */
    margin-right: auto;
    margin-left: auto;
  }

  .team__rosterText {
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
  }

  .team__rosterPerson > p {
    background-color: var(--lend-color);
    color: white;
    height: 100px;
    padding: 10px;
    width: 210px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin-top: 1px;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
  }
}
